<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/inv">Classic</a></li>
    <li><a href="/inv">Luxury</a></li>
    <li><a href="/inv">New Car</a></li>
    <li><a href="/inv">Sport</a></li>
    <li><a href="/inv">SUV</a></li>
    <li><a href="/inv">Truck</a></li>

    <% if (loggedin) { %>
      <!-- Visible when logged in -->
      <li><a href="/account/">Welcome <%= account_firstname %></a></li>
      <li><a href="/account/logout">Logout</a></li>
    <% } else { %>
      <!-- Visible when logged out -->
      <li><a href="/account/login">My Account</a></li>
    <% } %>
  </ul>
</nav>
