<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="main-main-container">
  <div class="car-image">
    <img src="/images/vehicles/delorean.jpg" alt="DMC DeLorean">
    <div class="car-info">
      <h2>DMC DeLorean</h2>
      <p>
        3 Cup holders<br>
        Superman doors<br>
        Fuzzy dice
      </p>
      <button class="own-button">Own Today</button>
    </div>
  </div>
</div>

<!-- Container for both upgrades and reviews side by side -->
<div class="features-section">
  <div class="upgrades">
    <h3>DeLorean Upgrades</h3>
    <div class="upgrades-grid">
      <figure class="upgrade-figure">
        <div class="upgrade-box">
          <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor Upgrade">
        </div>
        <figcaption>Flux Capacitor</figcaption>
      </figure>

      <figure class="upgrade-figure">
        <div class="upgrade-box">
          <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
        </div>
        <figcaption>Flame Decals</figcaption>
      </figure>

      <figure class="upgrade-figure">
        <div class="upgrade-box">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
        </div>
        <figcaption>Bumper Sticker</figcaption>
      </figure>

      <figure class="upgrade-figure">
        <div class="upgrade-box">
          <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
        </div>
        <figcaption>Hub Cap</figcaption>
      </figure>
    </div>
  </div>

<div class="reviews">
  <h3>DMC DeLorean Reviews</h3>
  <div class="reviews-list-container">
    <ul>
      <li>"So fast it's almost like travelling in time" (4/5)</li>
      <li>"Coolest ride on the road" (4/5)</li>
      <li>"I'M feeling McFly" (5/5)</li>
      <li>"The most futuristic ride of our day" (4.5/5)</li>
      <li>"80's livin and I love it" (5/5)</li>
    </ul>
  </div>
</div>

</div>
